/Proyectos/Proyecto1/nbproject/private/
/Proyectos/Proyecto1/build/
/Proyectos/Proyecto2/nbproject/private/
/Proyectos/Proyecto2/build/
/Proyectos/Proyecto3/nbproject/private/
/Proyectos/Proyecto3/build/
/Proyectos/TallerArchivos/nbproject/private/
/Proyectos/TallerArchivos/build/
/Proyectos/Agenda/nbproject/private/
/Proyectos/Agenda/build/
/Proyectos/Agenda2.0/nbproject/private/
/Proyectos/Agenda2.0/build/
/Proyectos/Puzzle/nbproject/private/
/Proyectos/Puzzle/build/
/Proyectos/Puzzle2.0/nbproject/private/
/Proyectos/Puzzle2.0/build/
/Proyectos/Puzzle3.0/nbproject/private/
/Proyectos/puzzle4.0/nbproject/private/
/Proyectos/puzzle4.0/build/
/Proyectos/Puzzle5.0/nbproject/private/
/Proyectos/Puzzle5.0/build/
/Proyectos/puzzle6.0/nbproject/private/
/Proyectos/TallerWeb/nbproject/private/
/Proyectos/TallerWeb/build/
/Proyectos/TallerWeb2.0/TallerWeb/nbproject/private/
/Talleres/TallerWeb/TallerWeb/nbproject/private/