/Proyectos/Proyecto1/nbproject/private/
/Proyectos/Proyecto1/build/
/Proyectos/Proyecto2/nbproject/private/
/Proyectos/Proyecto2/build/
/Proyectos/Proyecto3/nbproject/private/
/Proyectos/Proyecto3/build/